{% block image_crop_widget %}
    {% spaceless %}
        {{ block('hidden_widget') }}
        {{ 'Минимальные размеры загружаемого изображения' | trans }} <b>{{ form.vars.crop_width }}x{{ form.vars.crop_height }}px</b><br /><br />
        {% if(form.vars.isset_image) %}
            <img src="{{ form.vars.image_path }}" class="image_crop" style="max-width:800px" />
            <input type="hidden" id="image_crop_image_width" value="{{ form.vars.image_width }}" >
            <input type="hidden" id="image_crop_image_height" value="{{ form.vars.image_height}}" >
            <input type="hidden" id="image_crop_width" value="{{ form.vars.crop_width }}" >
            <input type="hidden" id="image_crop_height" value="{{ form.vars.crop_height }}" >
            <br />
            <a href="javascript:void(0)" id="image_crop_delete" style="text-decoration: none;border-bottom: 1px dashed;">Удалить изображение</a>
            <br /><br />
        {% endif %}
    {% endspaceless %}
{% endblock %}